{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Mehedi Hasan</title>
  <link rel = "icon" href = "{% static '/images/cv.svg' %}" 
        type = "image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css'> <link rel="stylesheet" href="{% static '/css/dev_style.css' %}">
<!-- Author: Mehedi Hasan | ID: 191-35-391 | Daffodil International University -->
</head>
<body>
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i,900,900i" rel="stylesheet">

<!-- cv -->
<div class="cv">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">

        <!-- header -->
        <header class="cv-header">
          <img class="cv-header__img" src="{% static '/images/Me.jpeg' %}" data-zoomable>
          <div class="cv-header__text-container">
            <h1 class="cv-header__name">MD. MEHEDI HASAN</h1>
            <p class="cv-header__job-title">Student, Daffodil International University</p>
          </div>
        </header>

        <!-- content -->
        <section class="cv-section">
          <h2 class="cv-section__title"><i class="fas fa-user fa-fw"></i> Profile</h2>
          <div class="cv-section__wrapper">
            <p class="cv-section__description">
              Hi, I am Mehedi Hasan and I am a student of Daffodil Internation University, Department of Software Engineering. I'm very passionate about competitive programming. I have nearly one and a half years of competitive programming skills, data structure, and critical problem-solving.
              <br>
              <br>
              Besides, I am a member of the Cyber Security Center also do the major course in cyber-security at my university. I am good at the encryption-decryption process, hashing, Reverse Engineering, and Network Port Scanning.
              <br>
              <br>
              I'm also a beginner-level backend web developer of the Django framework. I do most of the web development project using that.
              <br>
              <br>
              Without all of that, I have also some creative skills, I'm a good videographer, Video editor, simple animated video creator, and some basic knowledge of illustration and photoshop.

            </p>
          </div>
        </section>

        <!-- experience -->
        <section class="cv-section">
          <h2 class="cv-section__title"><i class="fas fa-briefcase fa-fw"></i> Experience</h2>
          <div class="cv-section__wrapper">
            
            <!-- C++ Programming -->
            <div class="cv-section__experience">
              <p class="cv-section__role">C++ Programming</p>
              <p class="cv-section__period">February 2020 – Present</p>
              <p class="cv-section__description">Cometitive Programming, Data Structure, Problem-Solving, C Graphics library</p>
              <p class="cv-section__description"> <b>Achievements: </b> 1000+ Rating in CodeForces with solving 300+ problems, 5 Star Rating in HackerRank</p>
            </div>

            <!-- Java Programming -->
            <div class="cv-section__experience">
              <p class="cv-section__role">Java Programming</p>
              <p class="cv-section__period">November 2019 – Present</p>
              <p class="cv-section__description">Object Oriented Programming, Data Structure</p>
              <p class="cv-section__description"> <b>Achievements: </b> 4 Star Rating in HackerRank</p>
            </div>

            <!-- Cyber Security -->
            <div class="cv-section__experience">
              <p class="cv-section__role">Cyber Security</p>
              <p class="cv-section__period">May 2021 – Present</p>
              <p class="cv-section__description">Cryptography, Reverse Engineering, Network Scanning</p>
              <p class="cv-section__description"> <b>Achievements: </b> Achieve 14th position in Capture The Flag contest (From CSC, October 2021)</p>
            </div>

            <!-- Python Programming -->
            <div class="cv-section__experience">
              <p class="cv-section__role">Python Programming</p>
              <p class="cv-section__period">January 2021 – Present</p>
              <p class="cv-section__description">Cryptography, Problem Solving, Web Framewok(Django)</p>
              <p class="cv-section__description"> <b>Achievements: </b> 3 Star Rating in HackerRank, I made a full functional website using python</p>
            </div>
            
            

          </div>
        </section>
        
        <!-- education -->
        <section class="cv-section">
          <h2 class="cv-section__title"><i class="fas fa-graduation-cap fa-fw"></i> Education</h2>
          <div class="cv-section__wrapper">
            
            <!-- University -->
            <div class="cv-section__experience">
              <p class="cv-section__role">Daffodil International University</p>
              <p class="cv-section__period">2019 – Present</p>
              <p class="cv-section__description">B.Sc in Software Engineering</p>
            </div>
            
            <!-- College -->
            <div class="cv-section__experience">
              <p class="cv-section__role">Khawja Rahmat Ali College, Manikganj</p>
              <p class="cv-section__period">2017 – 2018</p>
              <p class="cv-section__description">From Science Background</p>
            </div>
            
            <!-- High School -->
            <div class="cv-section__experience">
              <p class="cv-section__role">Firoza Ideal High School</p>
              <p class="cv-section__period">2012 – 2016</p>
            </div>

          </div>
        </section>

      </div>

      <!-- sidebar -->
      <aside class="col-md-4 cv-sidebar">

        <!-- details -->
        <section class="cv-sidebar-section">
          <h2 class="cv-sidebar-section__title">Details</h2>
          <p class="cv-sidebar-section__description">
            Manikganj, Dhaka, Bangladesh <br>
            Phone: +8801726-067645 <br>
            mehedi705bd@gmail.com <br>
            mehedi35-391@diu.edu.bd
          </p>
        </section>

        <!-- skills -->
        <section class="cv-sidebar-section">
          <h2 class="cv-sidebar-section__title">Skills</h2>
          <p class="cv-sidebar-section__description">Programming, Networking, SQL Database, Backend Web Developing, git, Problem-solving, Bash-scripting, Python-scripting.
          </p>
        </section>

        <!-- tools -->
        <section class="cv-sidebar-section">
          <h2 class="cv-sidebar-section__title">Tools</h2>
          <p class="cv-sidebar-section__description">Windows XP, 7, 10, 11; Kali Linux, Windows-linux terminal, nmap, wireshark, MS Office, Adobe Photoshop, Illustrator, Premiere Pro, After Effects; Visual Studio Code</p>
        </section>

        <!-- interests -->
        <section class="cv-sidebar-section">
          <h2 class="cv-sidebar-section__title">Interests</h2>
          <p class="cv-sidebar-section__description">Programming, Creative Works, Ethical Hacking/Penetration Testing, Videography, Website Developing </p>
        </section>

        <!-- languages -->
        <section class="cv-sidebar-section">
          <h2 class="cv-sidebar-section__title">Languages</h2>
          <p class="cv-sidebar-section__description">English, Bangla.</p>
        </section>

      </aside>
    </div>
  </div>

</body>
</html>
