{% load static %}

<script type="text/javascript" >

function validateUserName(username){
  var usernameRegex = /^[a-zA-Z0-9]+$/;
  return usernameRegex.test(username);
}

function isValidEmail(email) {
  const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(String(email).toLowerCase());
}

function validate()
{
    const x = document.getElementById("valid_warning");

    //Getting elementts
    var username = document.signup.username.value;
    var email = document.signup.email.value;
    var pass1 = document.signup.pass1.value;
    var pass2 = document.signup.pass2.value;
    var agreement = document.getElementById("agree-term");

    if (validateUserName(username) == false)
    {
        document.getElementById("valid_warning").innerHTML = " ";
        document.getElementById("valid_warning").innerHTML = 'Username cannot be empty and must be letters and numbers!' + x.innerHTML;
        return false;
    }

    if(isValidEmail(email) == false)
    {
        document.getElementById("valid_warning").innerHTML = " ";
        document.getElementById("valid_warning").innerHTML = 'Insert your email correctly!' + x.innerHTML;
        return false;
    }

    if(pass1.length < 6 || pass2.length < 6)
    {
        document.getElementById("valid_warning").innerHTML = " ";
        document.getElementById("valid_warning").innerHTML = 'Password is too short!!' + x.innerHTML;
        return false;
    }

    if(pass1 != pass2)
    {
        document.getElementById("valid_warning").innerHTML = " ";
        document.getElementById("valid_warning").innerHTML = 'Password did not match!' + x.innerHTML;
        return false;
    }    

    if (agreement.checked != 1)
    {
        document.getElementById("valid_warning").innerHTML = " ";
        document.getElementById("valid_warning").innerHTML = 'Check the agreement for proceed!' + x.innerHTML;
        return false;
    }

    return true;
}

</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mysite | Signup</title>
    <link rel = "icon" href = "{% static '/images/django.svg' %}" 
        type = "image/x-icon">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static '/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    

    <!-- Main css -->
    <link rel="stylesheet" href="{% static '/css/sign_style.css' %}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" name='signup' id="register-form" action="/signup/">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="name" placeholder="Your Username"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass1" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="pass2" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <p id="valid_warning" style="color: red;"></p>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" onclick="return validate()"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static '/images/signup-image.jpg' %}" alt="sing up image"></figure>
                        
                        <a href="/signin/" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

    <!-- JS -->
    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    
</body>
</html>